.button {
  background: $blue;
  border: none;
  color: white;
  display: inline-block;
  font-size: $font-size-large;
  font-weight: 300;
  line-height: 1;
  margin-bottom: $s-size;
  padding: $s-size;
  text-decoration: none;
}

.button__link {
  background: none;
}

.button__secondary {
  background: #c2300c;
}
